footer
  .container.text-center
    p.pull-left © 2017 MESHD. All Rights Reserved.
    ul.pull-right.list-inline
      li
        a(href='/about') About
      li
        a(href='/help') Help
      li
        a(target='_blank' href='https://docs.google.com/forms/d/e/1FAIpQLSdZkBWMg2FcfnZvUKsw9C20llBVmNsYTqJpC9yV8U22SX0ZXA/viewform') Contact
