.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/')
        img.topleftlogo(id='headlogo' src='../img/logosmall.png')
      //input.projects-search(id='projects-search', onchange='projectSearch()' placeholder='Search')
    .collapse.navbar-collapse
      ul.nav.navbar-nav
        li(class=(title == 'Meshers') ? 'active' : undefined)
          a(href='/meshers') Meshers
        li(class=(title == 'Projects') ? 'active' : undefined)
          a(href='/projects') Projects
          
      ul.nav.navbar-nav.navbar-right
        if !user
          li(class=(title == 'Login') ? 'active' : undefined)
            a(href='/') Login
        else
          li.dropdown(class=(title == 'Account Management') ? 'active' : undefined)
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              if user.profile.picture
                img(src='/img/profile.png')
              else
                img(src='/img/profile.png')
              span= user.profile.name || user.email || user.id
              i.caret
            ul.dropdown-menu
              li
                a(href='/profile') Edit Profile
              li
                a(href='/viewprofile/'+user._id) View Profile
              li
                a(href='/project/create') Create Project
              li.divider
              li 
                a(href='/help') Help
              li
                a(href='/logout') Logout

