//Variables to be altered for site-wide change
//Color values can be changed here to reflect color changes site-wide


//Colors
//----------------------------

$primary-color:     #ff4157;
$secondary-color:   #b32743;

$primary-grey:      #3f424b;
$secondary-grey:    #f0efef;

//$primary-color:     #9a2af1;
//$secondary-color:   #ffbc14;
